@{
    ViewData["Title"] = "Home Page";
}

<!-- start of hero -->
<section class="hero-slider hero-style-1">
    <div class="bottom-links">
        <div>
            <a href="#">
                <i class="fi flaticon-money-bag"></i>
                <h4>Make a Claim</h4>
                <p>You can claim you money</p>
            </a>
        </div>
        <div>
            <a href="#">
                <i class="fi flaticon-agent"></i>
                <h4>Find An Agent</h4>
                <p>Want an agent?</p>
            </a>
        </div>
    </div>

    <div class="swiper-container">
        <vc:slider></vc:slider>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <div class="swiper-pagination"></div>
        <div class="pagi">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<!-- end of hero slider -->
<!-- start about-section -->
<section class="about-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <vc:about></vc:about>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-section -->
<!-- start service-section -->
<section class="service-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Our best services</span>
                    <h2>Best insurance services for our client’s</h2>
                </div>
            </div>
            <div class="col col-xs-12">
                <div class="service-slider">
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-life"></i>
                            <h3>Life Insurance</h3>
                        </a>
                    </div>
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-car"></i>
                            <h3>Car insurance</h3>
                        </a>
                    </div>
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-shield-1"></i>
                            <h3>Health insurance</h3>
                        </a>
                    </div>
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-house"></i>
                            <h3>Home insurance</h3>
                        </a>
                    </div>
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-life"></i>
                            <h3>Life Insurance</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end service-section -->
<!-- start cta-section -->
<section class="cta-section section-padding">
    <div class="container">
        <vc:likeable-area></vc:likeable-area>
    </div> <!-- end container -->
</section>

<!-- end cta-section -->
<!-- start pricing-section -->
<section class="policy-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Our best plans</span>
                    <h2>Insurance plan for every goal in life</h2>
                </div>
            </div>
        </div>
        
        <vc:our-best-plan></vc:our-best-plan>
    </div> <!-- end container -->
</section>
<!-- end policy-section -->
<!-- start cta-s2-section -->
<section class="cta-s2-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="content-area clearfix">
                    <div class="left-col">
                        <div class="details">
                            <h2>New to Insurance? No Problem.</h2>
                            <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower</p>
                            <ul>
                                <li><a href="#">Insurance</a></li>
                                <li><a href="#">Understanding Homeowners Insurance</a></li>
                                <li><a href="#">Understanding Car Insurance</a></li>
                                <li><a href="#">Resources Overview</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-col">
                        <div class="text">
                            <p>Hi, I am agent venod <span>++685785475</span></p>
                        </div>
                        <div class="img-holder">
                            <img src="~/images/agent-v.png" alt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end cta-s2-section -->
<!-- start testimonials-section -->
<section class="testimonials-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Testimonials</span>
                    <h2>What People Says About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="testimonials-slider">
                    <vc:testimonial></vc:testimonial>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end testimonials-section -->
<!-- start blog-section -->
<section class="blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
               
                <vc:blog></vc:blog>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-section -->
<!-- start cta-s3-section -->

<vc:cover-ads></vc:cover-ads>
<!-- end cta-s3-section -->
