@{
    ViewData["Title"] = "Home Page";
}

<!-- start of hero -->
<section class="hero-slider hero-style-1">
    <div class="bottom-links">
        <div>
            <a href="#">
                <i class="fi flaticon-money-bag"></i>
                <h4>Make a Claim</h4>
                <p>You can claim you money</p>
            </a>
        </div>
        <div>
            <a href="#">
                <i class="fi flaticon-agent"></i>
                <h4>Find An Agent</h4>
                <p>Want an agent?</p>
            </a>
        </div>
    </div>

    <div class="swiper-container">
        <vc:slider></vc:slider>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <div class="swiper-pagination"></div>
        <div class="pagi">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<!-- end of hero slider -->
<!-- start about-section -->
<section class="about-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="inner clearfix">
                    <div class="left-col">
                        <div class="section-title">
                            <span>About us</span>
                            <h2>We are a Award Wining Company!</h2>
                        </div>
                        <div class="details">
                            <p>With a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out</p>
                            <h5>Phone: ++88123475754</h5>
                        </div>
                        <div class="fun-fact-area">
                            <div class="fun-fact-grids clearfix">
                                <div class="grid">
                                    <div class="info">
                                        <i class="fi flaticon-umbrella-2"></i>
                                        <h3><span class="odometer" data-count="4500">00</span></h3>
                                        <p>Insurance Policies</p>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="info">
                                        <i class="fi flaticon-agent"></i>
                                        <h3><span class="odometer" data-count="68">00</span></h3>
                                        <p>Insurance Agents</p>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="info">
                                        <i class="fi flaticon-badge"></i>
                                        <h3><span class="odometer" data-count="50">00</span>+</h3>
                                        <p>Award win</p>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="info">
                                        <i class="fi flaticon-smile"></i>
                                        <h3><span class="odometer" data-count="2500">00</span>%</h3>
                                        <p>Happy clients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-col">
                        <div class="about-info">
                            <h3>Since 1950, we are providing the insurance solution for our client’s and we are very successfull about the area. </h3>
                            <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out</p>
                            <a asp-controller="about" asp-action="index" class="theme-btn">More about us</a>
                        </div>
                        <div class="img-holder">
                            <img src="~/images/about.jpg" alt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-section -->
<!-- start service-section -->
<section class="service-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Our best services</span>
                    <h2>Best insurance services for our client’s</h2>
                </div>
            </div>
            <div class="col col-xs-12">
                <div class="service-slider">
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-life"></i>
                            <h3>Life Insurance</h3>
                        </a>
                    </div>
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-car"></i>
                            <h3>Car insurance</h3>
                        </a>
                    </div>
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-shield-1"></i>
                            <h3>Health insurance</h3>
                        </a>
                    </div>
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-house"></i>
                            <h3>Home insurance</h3>
                        </a>
                    </div>
                    <div class="grid">
                        <a href="#">
                            <i class="fi flaticon-life"></i>
                            <h3>Life Insurance</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end service-section -->
<!-- start cta-section -->
<section class="cta-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="inner clearfix">
                    <div class="left-col">
                        <div class="section-title">
                            <span>Likeable area</span>
                            <h2>Best Life Insurance Company in the World!</h2>
                        </div>
                        <div class="details">
                            <p>With a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out</p>
                        </div>
                    </div>
                    <div class="right-col">
                        <div class="contact-info">
                            <p>Call us for details</p>
                            <h2>++8801682530219</h2>
                            <a asp-controller="contact" asp-action="index" class="theme-btn-s3">Contact with Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-xs-12">
                <div class="video-area">
                    <div class="img-holder">
                        <img src="~/images/cta.jpg" alt>
                        <div class="video-btns">
                            <a href="https://www.youtube.com/embed/G1IbRujko-A" class="video-btn" data-type="iframe" tabindex="0"><i class="fi flaticon-play"></i></a>
                        </div>
                    </div>
                    <div class="experience-text">
                        <p><span>15</span> Years of <br>experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end cta-section -->
<!-- start pricing-section -->
<section class="policy-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Our best plans</span>
                    <h2>Insurance plan for every goal in life</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="policy-grids">
                    <div class="grid">
                        <div class="policy-header">
                            <h5>Family Protection</h5>
                            <i class="fi flaticon-umbrella"></i>
                        </div>
                        <div class="policy-body">
                            <ul>
                                <li>Fxed for entire policy term</li>
                                <li>De Will be transferred </li>
                                <li>Documents for verification</li>
                                <li>Entire policy term</li>
                            </ul>
                            <a href="#" class="theme-btn-s3">Select The Plan</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="hilight-tag">Most Popular</div>
                        <div class="policy-header">
                            <h5>Health Protection</h5>
                            <i class="fi flaticon-umbrella-1"></i>
                        </div>
                        <div class="policy-body">
                            <ul>
                                <li>Fxed for entire policy term</li>
                                <li>De Will be transferred </li>
                                <li>Documents for verification</li>
                                <li>Entire policy term</li>
                            </ul>
                            <a href="#" class="theme-btn-s3">Select The Plan</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="policy-header">
                            <h5>Check Suitability</h5>
                            <i class="fi flaticon-insurance"></i>
                        </div>
                        <div class="policy-body">
                            <ul>
                                <li>Fxed for entire policy term</li>
                                <li>De Will be transferred </li>
                                <li>Documents for verification</li>
                                <li>Entire policy term</li>
                            </ul>
                            <a href="#" class="theme-btn-s3">Select The Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end policy-section -->
<!-- start cta-s2-section -->
<section class="cta-s2-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="content-area clearfix">
                    <div class="left-col">
                        <div class="details">
                            <h2>New to Insurance? No Problem.</h2>
                            <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower</p>
                            <ul>
                                <li><a href="#">Insurance</a></li>
                                <li><a href="#">Understanding Homeowners Insurance</a></li>
                                <li><a href="#">Understanding Car Insurance</a></li>
                                <li><a href="#">Resources Overview</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-col">
                        <div class="text">
                            <p>Hi, I am agent venod <span>++685785475</span></p>
                        </div>
                        <div class="img-holder">
                            <img src="~/images/agent-v.png" alt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end cta-s2-section -->
<!-- start testimonials-section -->
<section class="testimonials-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Testimonials</span>
                    <h2>What People Says About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="testimonials-slider">
                    <div class="grid">
                        <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer</p>
                        <div class="quoter">
                            <h4>Mr. Bang</h4>
                            <span>Life insurance holder</span>
                        </div>
                    </div>
                    <div class="grid">
                        <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer</p>
                        <div class="quoter">
                            <h4>Mr. Bang</h4>
                            <span>Life insurance holder</span>
                        </div>
                    </div>
                    <div class="grid">
                        <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer</p>
                        <div class="quoter">
                            <h4>Mr. Bang</h4>
                            <span>Life insurance holder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end testimonials-section -->
<!-- start blog-section -->
<section class="blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="content-area">
                    <div class="left-col">
                        <div class="section-title-s3">
                            <span>From our blog</span>
                            <h2>Industry knowledge</h2>
                            <p>With a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out</p>
                        </div>
                        <div class="blog-post-w-media post">
                            <div class="entry-media">
                                <img src="~/images/blog/img-1.jpg" alt>
                            </div>
                            <p class="cat"><i class="fi flaticon-tag-1"></i> Insurance, company</p>
                            <h3><a href="#">How to shape your child’s dream into reality!</a></h3>
                            <p class="text">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright</p>
                            <a href="#" class="theme-btn">Read more</a>
                        </div>
                    </div>
                    <div class="right-col">
                        <div class="post">
                            <p class="cat"><i class="fi flaticon-tag-1"></i> Insurance, company</p>
                            <h3><a href="#">Villagers who to do have access to hospitals</a></h3>
                            <p class="text">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                        <div class="post">
                            <p class="cat"><i class="fi flaticon-tag-1"></i> Insurance, company</p>
                            <h3><a href="#">Life boosts its digital presence with dash</a></h3>
                            <p class="text">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-section -->
<!-- start cta-s3-section -->
<section class="cta-s3-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="inner clearfix">
                    <div class="cta-content">
                        <h2>Are you covered?</h2>
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated </p>
                        <a href="#" class="theme-btn-s4">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end cta-s3-section -->
