@model IEnumerable<CoverAdsViewModel>


    @foreach (var item in Model)
    {


        <section class="cta-s3-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="inner clearfix">
                            <div class="cta-content">
                                <h2>@item.Title</h2>
                                <p>@item.Text </p>
                                <a href="@item.EndPoint" class="theme-btn-s4">@item.ActionText</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
    }