@model Admin.Models.Pages.CaseViewModel
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Düzəliş</h1>

    <!-- DataTales Example -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="the-box no-border">
                        <form method="post">
                            <input asp-for="Id" type="hidden" />
                            <div class="form-group">
                                <label>Vəziyyəti</label>
                                <div class="custom-control custom-radio custom-control-inline ml-3">
                                    <input type="radio" id="Status" value="true" name="Status" class="custom-control-input">
                                    <label class="custom-control-label" for="Status">Aktiv</label>
                                    <span class="field-validation-valid text-danger" asp-validation-for="Status"></span>

                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="StatusFal" value="false" name="Status" class="custom-control-input">
                                    <label class="custom-control-label" for="StatusFal">Passiv</label>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-8 col-lg-8">
                                    <div class="form-group">
                                        <label asp-for="Title">Başlıq</label>
                                        <input class="form-control form-control-user slug-source" asp-for="Title">
                                        <span class="field-validation-valid" asp-validation-for="Title"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Detail">Mətn</label>
                                        <textarea class="form-control form-control-user slug-source" asp-for="Detail"></textarea>
                                        <span class="field-validation-valid" asp-validation-for="Detail"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="SubDetail">Yarım Mətn</label>
                                        <textarea class="form-control form-control-user slug-source" asp-for="SubDetail"></textarea>
                                        <span class="field-validation-valid" asp-validation-for="SubDetail"></span>
                                    </div>

                                </div>
                                <!-- /.col-sm-8 -->
                                <div class="col-sm-4 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="Solution">Həll</label>
                                        <input class="form-control form-control-user slug-source" asp-for="Solution">
                                        <span class="field-validation-valid" asp-validation-for="Solution"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Image">Şəkil</label>
                                        <input class="form-control form-control-user slug-source" asp-for="Image">
                                        <span class="field-validation-valid" asp-validation-for="Image"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Challenge">Mübarizə</label>
                                        <input class="form-control form-control-user slug-source" asp-for="Challenge">
                                        <span class="field-validation-valid" asp-validation-for="Challenge"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Result">Nəticə</label>
                                        <input class="form-control form-control-user slug-source" asp-for="Result">
                                        <span class="field-validation-valid" asp-validation-for="Result"></span>
                                    </div>
                                    <div class="form-group d-flex justify-content-end mt-3">
                                        <button type="submit" class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-pencil-alt"></i>
                                            </span>
                                            <span class="text">Yenilə</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.col-sm-4 -->
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>



</div>
