
@{
    ViewData["Title"] = "Index";
}

<!-- start page-title -->
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Grid 2 columns</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Grid 2 columns</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->
<!-- start blog-pg-section -->
<section class="blog-pg-section blog-grid-2-columns section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-content clearfix">
                    <div class="post format-standard-image">
                        <div class="entry-media">
                            <img src="images/blog/img-2.jpg" alt="">
                        </div>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fi flaticon-user"></i> By: Admin</a></li>
                            <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            <li><a href="#"><i class="fi flaticon-calendar"></i>11 March 2020</a></li>
                        </ul>
                        <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                        <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated</p>
                        <a href="#" class="theme-btn-s3">Read More</a>
                    </div>
                    <div class="post format-gallery">
                        <div class="entry-media post-slider">
                            <img src="images/blog/img-3.jpg" alt="">
                            <img src="images/blog/img-2.jpg" alt="">
                        </div>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fi flaticon-user"></i> By: Admin</a></li>
                            <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            <li><a href="#"><i class="fi flaticon-calendar"></i>11 March 2020</a></li>
                        </ul>
                        <h3><a href="#">Won’t find anywhere and you can design with tons thousnad</a></h3>
                        <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated</p>
                        <a href="#" class="theme-btn-s3">Read More</a>
                    </div>
                    <div class="post format-video">
                        <div class="entry-media video-holder">
                            <img src="images/blog/img-4.jpg" alt="">
                            <a href="https://www.youtube.com/embed/7e90gBu4pas?autoplay=1" class="video-btn" data-type="iframe">
                                <i class="fi flaticon-play"></i>
                            </a>
                        </div>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fi flaticon-user"></i> By: Admin</a></li>
                            <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            <li><a href="#"><i class="fi flaticon-calendar"></i>11 March 2020</a></li>
                        </ul>
                        <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                        <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated</p>
                        <a href="#" class="theme-btn-s3">Read More</a>
                    </div>
                    <div class="post format-standard-image">
                        <div class="entry-media">
                            <img src="images/blog/img-5.jpg" alt="">
                        </div>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fi flaticon-user"></i> By: Admin</a></li>
                            <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            <li><a href="#"><i class="fi flaticon-calendar"></i>11 March 2020</a></li>
                        </ul>
                        <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                        <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated</p>
                        <a href="#" class="theme-btn-s3">Read More</a>
                    </div>
                    <div class="pagination-wrapper pagination-wrapper-center">
                        <ul class="pg-pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <i class="fi flaticon-back"></i>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <i class="fi flaticon-next"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->
