
<!-- start page-title -->
    <section class="page-title" style="background-image: url(../../images/page-title.jpg);">
        <div class="page-title-container">

            <div class="page-title-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-12">
                            <h2>@ViewData["Title"]</h2>
                            <ol class="breadcrumb">
                                <li><a href="/">Ana Səhifə</a></li>
                                <li>@ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div> <!-- end row -->
                </div> <!-- end container -->
            </div>
        </div>
    </section>
<!-- end page-title -->