@model Admin.Models.Service.ServicesViewModel

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Düzəliş</h1>

    <!-- DataTales Example -->

    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post">
               
                <div class="form-group">
                    <label>Vəziyyəti</label>
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input type="radio" id="Status" value="true" name="Status" class="custom-control-input" @(Model.Status ? "checked" : "")>
                        <label class="custom-control-label" for="Status">Aktiv</label>
                        <span class="field-validation-valid text-danger" asp-validation-for="Status"></span>

                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="StatusFal" value="false" name="Status" class="custom-control-input" @(Model.Status ? "" : "checked")>
                        <label class="custom-control-label" for="StatusFal">Passiv</label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Adı</label>
                    <input class="form-control form-control-user slug-source" asp-for="Name">
                    <span class="field-validation-valid" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Logo">Loqosu</label>
                    <input class="form-control form-control-user slug-source" asp-for="Logo">
                    <span class="field-validation-valid " asp-validation-for="Logo"></span>
                </div>
                <div class="form-group disabled">
                    <label class="disabled" asp-for="CompanyId">Şirkət</label>
                    <input class="form-control form-control-user slug-source disabled" asp-for="CompanyId">
                    <span class="field-validation-valid disabled" asp-validation-for="CompanyId"></span>
                </div>
                <div class="form-group d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span class="text">Yenilə</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section Scripts{
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}