@model IEnumerable<SettingViewModel>

@foreach (var item in Model)
{

    <ul>
        <li><i class="ti-location-pin"></i>@item.Address</li>
        <li><i class="ti-timer"></i>@item.WorkTime</li>
    </ul>

}
