@model Admin.Models.Pages.FaqViewModel


<!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Düzəliş</h1>

        <!-- DataTales Example -->

        <div class="card shadow mb-4">
            <div class="card-body">
                <form method="post">
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label>Vəziyyəti</label>
                        <div class="custom-control custom-radio custom-control-inline ml-3">
                            <input type="radio" id="Status" value="true" name="Status" class="custom-control-input">
                            <label class="custom-control-label" for="Status">Aktiv</label>
                            <span class="field-validation-valid text-danger" asp-validation-for="Status"></span>

                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="StatusFal" value="false" name="Status" class="custom-control-input">
                            <label class="custom-control-label" for="StatusFal">Passiv</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Question">Sual</label>
                        <input class="form-control form-control-user slug-source" asp-for="Question">
                        <span class="field-validation-valid" asp-validation-for="Question"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Answer">Cavab</label>
                        <input class="form-control form-control-user slug-source" asp-for="Answer">
                        <span class="field-validation-valid" asp-validation-for="Answer"></span>
                    </div>
                    <div class="form-group d-flex justify-content-end mt-3">
                        <button type="submit" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <span class="text">Yenilə</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
<!-- /.container-fluid -->

@section Scripts{
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}