@model Admin.Models.Pages.SliderViewModel

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Yeni Slide</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Statusu</label>
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input type="radio" id="Status" value="true" name="Status" class="custom-control-input">
                        <label class="custom-control-label" for="Status">Aktiv</label>
                        <span class="field-validation-valid text-danger" asp-validation-for="Status"></span>

                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="StatusFal" value="false" name="Status" class="custom-control-input">
                        <label class="custom-control-label" for="StatusFal">Passiv</label>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Title">Basliq</label>
                    <input class="form-control form-control-user slug-source" asp-for="Title">
                    <span class="field-validation-valid text-danger" asp-validation-for="Title"></span>
                </div>
                

                <div class="form-group">
                    <label asp-for="Slogan">Texti daxil edin</label>
                    <input class="form-control form-control-user slug-source" asp-for="Slogan">
                    <span class="field-validation-valid text-danger" asp-validation-for="Slogan"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ActionText">Action Text</label>
                    <input class="form-control form-control-user slug-source" asp-for="ActionText">
                    <span class="field-validation-valid text-danger" asp-validation-for="ActionText"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndPoint">Url</label>
                    <input class="form-control form-control-user slug-source" asp-for="EndPoint">
                    <span class="field-validation-valid text-danger" asp-validation-for="EndPoint"></span>
                </div>
         
                <div class="form-group d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Əlavə et</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.container-fluid -->


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
